body{
    margin:0;
    font-family:"Times New Roman", serif;
    background:#F8FAFC;
}

.header{
    padding:15px 25px;
    border-bottom:1px solid #E5E7EB;
}

.header svg{
	    height:70px;
    width:auto;
}

form{
    width:350px;
    padding:25px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    background:white;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

input,
button{
    width:100%;
    padding:12px;
    box-sizing:border-box;
}

button{
	
    background:#2563EB;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#1D4ED8;
}

a{
   display:block;
    text-align:center;
    text-decoration:none;
}